<div class="repometric-linterhub-line-widget">
    {{#messages}}
        <div class="repometric-linterhub-line-{{type}} repometric-linerhub-line-{{code}}">
            {{message}}
             Ignore this: 
            <a href="" class="repometric-linterhub-message-ignore" file="{{file}}" line="{{#pos}}{{line}}{{/pos}}" rule="{{code}}">On current line</a> - 
            <a href="" class="repometric-linterhub-message-ignore" file="{{file}}" line="null" rule="{{code}}">In this file</a> - 
            <a href="" class="repometric-linterhub-message-ignore" file="null" line="null" rule="{{code}}">In whole project</a>
        </div>
    {{/messages}}
</div>
